@if (ButtonConfig.Outline)
{
    <button class="buy-btn perso-outline"
       style="border-color: @ButtonConfig.ButtonColor;
                  color: @ButtonConfig.ButtonColor;
                  font-weight: @ButtonConfig.ButtonFontWeight;
                  --hover-bg: @ButtonConfig.ButtonColor;
                  --hover-color: @ButtonConfig.ButttonFontColor;"
       @onclick="OnClick">
        @ButtonConfig.Texto
    </button>
}
else
{
    <button class="buy-btn perso-btn"
       style="background-color: @ButtonConfig.ButtonColor;
                  color: @ButtonConfig.ButttonFontColor;
                  font-weight: @ButtonConfig.ButtonFontWeight;
                  box-shadow: 0 4px 10px @ButtonConfig.ButtonColor;
                  --hover-border: @ButtonConfig.ButtonColor;
                  --hover-color: @ButtonConfig.ButtonColor;
                  --hover-bg: @ButtonConfig.ButttonFontColor;"
       @onclick="OnClick">
        @ButtonConfig.Texto
    </button>
}


<style>
    .perso-btn {
        border: none;
        background-color: @ButtonConfig.ButtonColor;
        font-weight: @ButtonConfig.ButtonFontWeight;
        color: @ButtonConfig.ButttonFontColor;
        box-shadow: 0 4px 10px @ButtonConfig.ButtonColor;
    }

    .btn-outline {
        border: none;
        border: 2px solid @ButtonConfig.ButtonColor;
        color: @ButtonConfig.ButtonColor;
        background-color: @ButtonConfig.ButttonFontColor;
        box-shadow: 0 4px 10px @ButtonConfig.ButtonColor;
    }

    .buy-btn:hover {
        border: none;
        border: 2px solid @ButtonConfig.ButtonColor;
        color: @ButtonConfig.ButtonColor;
        background-color: @ButtonConfig.ButttonFontColor;
        transform: translateY(-2px);
        transition: all 0.45s ease;
    }

    .btn-outline:hover {
        background-color: @ButtonConfig.ButtonColor;
        color: @ButtonConfig.ButttonFontColor;
        transform: translateY(-2px);
        transition: all 0.45s ease;
    }
</style>

