@if (ButtonConfig.Outline)
{

    <a class="buy-btn perso-btn perso-outline"  @onclick="OnClick">
        @ButtonConfig.Texto
    </a>

}
else
{

    <a class="buy-btn perso-btn " @onclick="OnClick">
        @ButtonConfig.Texto
    </a>

}

<style>
    .perso-btn {
        background-color: @ButtonConfig.ButtonColor;
        font-weight: @ButtonConfig.ButtonFontWeight;
        color: @ButtonConfig.ButttonFontColor;
        box-shadow: 0 4px 10px @ButtonConfig.ButtonColor;
    }

    .btn-outline {
        border: 2px solid @ButtonConfig.ButtonColor;
        color: @ButtonConfig.ButtonColor;
        background-color: @ButtonConfig.ButttonFontColor;
        box-shadow: 0 4px 10px @ButtonConfig.ButtonColor;
    }

    .buy-btn:hover {
        border: 2px solid @ButtonConfig.ButtonColor;
        color: @ButtonConfig.ButtonColor;
        background-color: @ButtonConfig.ButttonFontColor;
        transform: translateY(-2px);
        transition: all 0.45s ease;
    }

    .btn-outline:hover {
        background-color: @ButtonConfig.ButtonColor;
        color: @ButtonConfig.ButttonFontColor;
        transform: translateY(-2px);
        transition: all 0.45s ease;
    }
</style>

