@inherits InputText

<div class="col-md-@Grid">  
    <label for="@ForId" class="seed-label mb-1 @RequiredClass">@Label</label>    
    @if (Disabled)
    {
        <input 
            id="@ForId"
            type="text" 
            class="@ClassCss" 
            maxlength="@MaxLength"             
            value="@CurrentValueAsString"                                    
            disabled= "@Disabled"
            @ref=Element />
    } 
    else
    {
        <input 
            id="@ForId"
            type="text" 
            class="@ClassCss" 
            maxlength="@MaxLength" 
            placeholder="@Placeholder" 
            value="@CurrentValueAsString"
            @oninput="OnInput"
            @onchange="OnChange"
            @attributes=AdditionalAttributes
            @ref=Element />
        <ValidationMessage For="() => Value" />        
    }
</div>